[Unit]
Description=Celery workers
After=network.target

[Service]
Type=forking
User=celery
Group=celery
Environment=CELERY_NODE=%I
EnvironmentFile=/etc/conf.d/celery_%I
WorkingDirectory=/<proj_path>
PermissionsStartOnly=true
Restart=always
ExecStartPre=/bin/mkdir -p /var/log/celery
ExecStartPre=/bin/chown -R celery:celery /var/log/celery
ExecStartPre=/bin/mkdir -p /var/run/celery
ExecStartPre=/bin/chown -R celery:celery /var/run/celery
ExecStart=/<proj_path>/env/bin/celery multi start %I \
    -A $CELERY_APP --pidfile=${CELERYD_PID_FILE} \
    --logfile=${CELERYD_LOG_FILE} --loglevel="${CELERYD_LOG_LEVEL}" \
    $CELERYD_OPTS
ExecStop=/<proj_path>/env/bin/celery multi stopwait %I \
    --pidfile=${CELERYD_PID_FILE}
ExecReload=/<proj_path>/env/bin/celery multi stop %I \
    --pidfile=${CELERYD_PID_FILE}


[Install]
WantedBy=multi-user.target

